@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$backgroundColor: #f8f9fa;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #2b2b2b;

.edit-profile-dialog {
    background-color: $cardColor;
    margin-top: 0px;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;;
}

.edit-profile-dialog-title {
    color: $textColor;
}

.edit-profile-dialog-content {
    color: $textColor;
}

::ng-deep .edit-profile-custom>mat-dialog-container {
    background-color: $cardColor;
}

.edit-profile-actions {
    display: flex
}

.mat-raised-button {
    font-family: 'Montserrat', sans-serif;
}