@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$backgroundColor: #f8f9fa;
$textColor: #343a40;
$boxShadowColor: #2b2b2b;

.nav-bar {
    border-bottom: $boxShadowColor;
    background-color: #2b2b2b;
    color: rgb(253, 253, 253);
}

.logout-button {
    float: right;
}

.mat-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

b {
    font-size: 24px;
    font-family: 'Permanent Marker', sans-serif;
    padding: 10px;
}