@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$backgroundColor: #c9c4c3;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #2b2b2b;

.movie-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    background-color: $backgroundColor;
    font-family: 'Montserrat', sans-serif;
}

.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 10px 5px 5px $boxShadowColor;
    background-color: $cardColor;
    max-width: 280px;
    width: 280px;
    margin: 15px;
    padding: 20px 3px;
    font-family: 'Montserrat', sans-serif;
}

.mat-card-header {
    height: 80px;
    display: flex;
    align-items: center;
    color: $textColor;
}

.movie-title {
    display: flex;
    max-width: 210px;
    justify-content: center;
    text-align: center;
    line-height: normal;
    font-weight: bold;
}

img {
    width: 250px;
    height: 350px;
    object-fit: contain;
}

.mat-icon-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.mat-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}